[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
}


/* ==================== */


/* ======= NAV ======== */


/* ==================== */

#startbootstrap_nav {
    color: crimson;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: lowercase;
    padding-bottom: 40px;
    padding-top: 30px;
}

#myNavbar {
    margin-top: 0px;
    background-color: transparent;
}

.navbar-nav > li > a {
    background-color: transparent;
}

.navbar-header {
    background-color: white;
}

.navbar-nav > li > a {
    color: crimson;
    margin-top: 0px;
    padding-top: 30px;
    margin-right: 15px;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

.navbar-nav > li > a:hover {
    color: white;
    background-color: crimson;
    padding-top: 30px;
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
}

.navbar-toggle {
    margin-top: 25px;
}

.icon_nav {
    background-color: crimson;
}

.navbar-fixed-top.change {
    transition: 0.5s;
}

.navbar-brand.change {
    line-height: 0px;
}

.liens_nav.change {
    line-height: 0px;
    font-weight: 600;
}

.navbar-collapse {
    border-bottom: 1px solid crimson;
}

.navbar-collapse.change {
    border-bottom: 0px solid crimson;
}

.navbar-header.change {
    opacity: 0;
}


/* ==================== */


/* ===== HEADER ======= */


/* ==================== */

header {
    width: 100%;
    margin-top: 70px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.header h1 {
    padding-top: 70px;
    color: crimson;
    font-size: 5em;
    text-shadow: 1px 1px 3px rgba(146, 150, 150, 1);
}

h2 {
    color: yellowgreen;
    font-size: 2.9em;
    font-size: 3.5em;
    padding-bottom: 70px;
}

.separator-header {
    height: 80px;
    width: 2px;
    border-left: 1px solid crimson;
    display: block;
    margin: 0 auto;
}

.separator-header2 {
    height: 1px;
    max-width: 80%;
    border-top: 1px solid crimson;
    display: block;
    margin: 0 auto;
    padding-bottom: 60px;
}

header i {
    text-align: center;
    color: crimson;
    text-shadow: 1px 1px 3px rgba(146, 150, 150, 1);
}

header p {
    font-family: "Open Sans", sans-serif;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: none;
}


/* ==================== */


/* ===== PORTFOLIO ==== */


/* ==================== */

.menu {
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 10px;
    color: crimson;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
}

.polaroid {
    height: 380px;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.5) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
}

.polaroid i {
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgba(146, 150, 150, 1);
}

.description {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.polaroid p {
    color: crimson;
    text-align: center;
    font-size: 0.9em;
}

.polaroid h4 {
    color: crimson;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
}

.fa {
    display: inline-block;
}

.portfolio {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

.polaroid:hover {
    transform: rotate(-1deg);
}

.projet {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.projet .projet-present {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.projet:hover .projet-present {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 15, 10, 0.8);
    box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.6) inset;
    opacity: 5;
    cursor: pointer;
}


/* ==================== */


/* ====== PROJET ====== */


/* ==================== */

#projet1 {
    background-image: url(../img/img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projet2 {
    background-image: url(../img/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projet3 {
    background-image: url(../img/img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projet4 {
    background-image: url(../img/img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projet5 {
    background-image: url(../img/img5.png);
    background-position: center;
}

#projet6 {
    background-image: url(../img/img7.png);
    background-position: center;
}

#projet7 {
    background-image: url(../img/img8.png);
    background-position: center;
}

#projet8 {
    background-image: url(../img/img9.png);
    background-position: center;
}

#projet9 {
    background-image: url(../img/img6.png);
    background-position: center;
}


/* ==================== */


/* ===== CREATEPRO ===== */


/* ==================== */

.page p {
    font-size: 1.3em;
    max-width: 80%;
    margin: 0 auto;
    color: yellowgreen;
}

.pageprojet {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenu {
    height: 100%;
}

.fa-chevron-right,
.fa-chevron-left {
    color: crimson;
    text-align: center;
    margin-bottom: 50px;
}

.apercu {
    background-image: url(../img/img1.png);
    background-size: cover;
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.apercu2 {
    background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans' sans-serif;
    font-size: 1.2em;
    padding-top: 48px;
    padding-bottom: 49px;
}

.apercu2 p {
    width: 75%;
}

pre {
    display: block;
    background-color: white;
    border-radius: 0%;
    border: 0px solid white;
    height: 600px;
    margin-bottom: 50px;
    border-bottom: 1px solid crimson;
    border-left: 1px solid crimson;
    border-right: 1px solid crimson;
    margin-top: 30px;
}

pre code {
    display: block;
    background-color: white;
    border: 0px solid white;
    color: crimson;
    width: 80%;
}

.code {
    color: dimgrey;
    font-family: 'Open Sans' sans-serif;
    width: 75%;
    padding-top: 25px;
    padding-bottom: 25px;
}


/* ==================== */


/* ======== CV ======== */


/* ==================== */

.cv {
    height: 1000px;
    margin-top: 30px;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0.5) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.5);
}

.cv-header section:hover {
    transform: rotate(-0.3deg);
}

.categorie {
    height: 100%;
    border: 1px solid red;
}

.present-cv img {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-color: 2px solid crimson;
}

.present-cv {
    height: 35%;
    background-color: ;
}

.present-cv p {
    padding-top: 0px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    color: crimson;
    font-size: 0.9em;
}

.present-cv a {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    color: crimson;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: lowercase;
}

.present-cv h3 {
    color: crimson;
    text-align: center;
}


.competences {
    height: 65%;
    background-color: crimson;
}

.aptitude i {
    margin-top: 15px;
    color: white;
    font-size: 1.4em;
}

.creative {
    height: 2px;
    background-color: white;
}

.aptitude p {
    margin-top: 15px;
    margin-bottom: 3px;
    color: white;
}

.competences h4 {
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
    color: white;
}

/* ==================== */


/* ====== CONTACT ===== */


/* ==================== */

label {
    color: crimson;
}

form {
    margin-bottom: 50px;
}

button {
    background-color: crimson;
    color: white;
}

button:hover {
    background-color: yellowgreen;
}


/* ==================== */


/* ====== FOOTER ====== */


/* ==================== */

footer {
    margin-top: 60px;
    border-top: 1px solid crimson;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif,
}

footer i {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: crimson;
}

footer a {
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: crimson;
}

footer a:hover {
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: yellowgreen;
    text-decoration: none:
}

footer i:hover {
    color: yellowgreen;
}

footer p {
    padding-bottom: 10px;
}


/* ==================== */


/* ===== ANIMATION ==== */


/* ==================== */

.numero {
    transform: translateZ(0.1px);
}

.animation {
    animation-fill-mode: both;
    animation-duration: 1s;
}

@@-webkit-keyframes anim {
    0% {
        transform: scale(0) rotate(-180deg);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    70% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0.8) rotate(0deg);
    }
}

@-moz-keyframes anim {
    0% {
        transform: scale(0) rotate(-180deg);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    70% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0.8) rotate(0deg);
    }
}

@-o-keyframes anim {
    0% {
        transform: scale(0) rotate(-180deg);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    70% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0.8) rotate(0deg);
    }
}

@keyframes anim {
    0% {
        transform: scale(0) rotate(-180deg);
        opacity: 0;
    }
    50% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    70% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(0.8) rotate(0deg);
    }
}

.anim {
    backface-visibility: visible !important;
    animation-name: anim;
}